* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #393e46;
}

h1 {
	color: white;
}

.top {
	height: 15%;
	width: 100%;
	text-align: center;
	padding: 1.5%;
	background-color: black;
	font-family: "Fredoka One", cursive;
	font-size: 180%;
}

.btn {
	color: white;
	background-color: #6b8c42;
	border-color: black;
	font-size: 30px;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	width: 30%;
	height: 10vh;
}

.sounds {
	margin-left: 10%;
	margin-top: 13%;
}

.up {
	margin-bottom: 2%;
}

.down {
	margin-top: 2%;
}

.btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

/*Most of Smarthphones*/

@media (min-width: 320px) and (max-width: 480px) {
	body {
		height: 140vh;
	}
	
	.top {
		height: 25%;
		width: 100%;
		background-color: black;
		font-family: "Fredoka One", cursive;
		font-size: 20px;
	}

	.btn {
		color: white;
		background-color: #6b8c42;
		border-color: black;
		font-size: 18px;
		font-weight: bold;
		width: 40%;
		height: 15vh;
	}

	.sounds {
		margin-left: 50px;
		margin-top: 50px;
	}

	h1 {
		margin-top: 35px;
	}
}
